/* CSS Document */

#service-heading{ color:#336699; font-size:18px;}
.services{ clear:both; margin-bottom: 15px;   padding: 14px 0 0;}
.suc-title{ float:left; width:200px; }
.status { float:right; color:#990033; font-weight:bold;  margin-right: 90px;}
.suc-description{ float:left; margin-left:20px;}